html
    head
        title TeGo eSports
        link(rel='stylesheet', href='static/saas.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
        link(rel='shortcut icon', href='static/images/TEGO_Logo_Purple.png')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type='text/javascript', src='static/saas.js')
        script(language='javascript', type='text/javascript').
            function removeSpaces(string) {
            return string.split(' ').join('');
            }


    
    body
        nav.srv_nav
            a.srv_nav_items(href='/')
                img#srv_TegoLogo(src='static/images/TEGO_Logo.png')
            a.srv_nav_items(href='/servers')
                img#srv_server_img(src='static/images/servers.svg')
                | Servers
            a.srv_nav_items(href='#')
                img#srv_container_images(src='static/images/srv_images.svg')
                | Images
            a.srv_nav_items(href='/servers-as-a-service')
                img#srv_container_images(src='static/images/information.svg')
                | Help
            a.srv_nav_items(href='#')
                img#srv_container_images(src='static/images/settings.svg')
                | Settings
        #src_content_area
            #title.srv_content_flexRow
                h1 Servers
            #srv_optionHeaders.srv_content_header
                .srv_content_flexRow
                    a.srv_optionHeader_items Instances
                    a.srv_optionHeader_items SnapShots
                    a.srv_optionHeader_items FireWall
                    a.srv_optionHeader_items DNS
                    a.srv_optionHeader_items Storage
                    #srv_new
                        a#srv_add_button(href='#')
                            img#srv_add(src='static/images/add.svg')
            #srv_create_new
                #srv_create_new_content
                    img#srv_create_next(src='static/images/next.svg')
                    h3#srv_create_header Create a New Game Server
                    p#srv_create_instructions
                        | Before you can manage your server, you have to 
                        b create it
                        | . Select from the list of images and name your new server. If you don't want to name your server, we'll name it for you.
                    form#srv_create_form(action='/docker/create', method='get')
                        label(for='srv_select_image') Image
                        select#srv_select_image(name='imageID')
                            if dockerImages
                                for image in dockerImages
                                    option(value=`${image.imageTag}`) #{image.imageTag}
                        label(for='srv_create_name') Server Name
                        input#srv_create_name(type='text', placeholder='Default', name='containerName' pattern="[a-zA-Z0-9\s]+")
                        button#srv_create_button(value='Submit', type='submit') Create
            .srv_content_table_container.srv_content_flexRow
                .srv_table_header_flexRow
                    h3.srv_optionHeader_items.flex4(style='width:50px;') Server
                    h3.srv_optionHeader_items.flex2 Image
                    h3.srv_optionHeader_items.flex6 IP Address
                    h3.srv_optionHeader_items.flex4 Status
                    .flex1
                if userContainersDocker
                    for container in userContainersDocker
                        .srv_option_row_flexRow
                            .srv_option_row_item.flex4 #{container.name}
                            .srv_option_row_item.flex2
                                img#srv_image_picture(src=`${container.image}`)
                            .srv_option_row_item.flex6 #{whaleIP}:#{container.ports}
                            -if(container.status=='running')
                                .srv_option_row_item.flex4 
                                    #srv_status_circle.green
                                    span.spangreen Running
                            -if(container.status=='exited')  
                                .srv_option_row_item.flex4 
                                    #srv_status_circle.red
                                    span.spanred Stopped
                            .flex1
                                img#dots(src='static/images/dots.svg')
                        .srv_option_row_dropdown
                            div(style='display:flex; flex-direction: column;')
                                #srv_dropdown_status_row
                                    h3 Status:
                                    -if(container.status!=='running')
                                        a.green(href=`/docker/start?id=${container.Id}`)
                                            img.srv_drop_StatusImage(src='static/images/play.svg')
                                            | Start
                                    -if(container.status!=='exited')
                                        a.orange(href=`/docker/stop?id=${container.Id}`)
                                            img.srv_drop_StatusImage(src='static/images/power-button.svg')
                                            | Shutdown
                                    -if(container.status!=='removing')
                                        a.red(href=`/docker/remove?id=${container.Id}`)
                                            img.srv_drop_StatusImage(src='static/images/delete.svg')
                                            | Delete
                                    -if(container.status!=='restarting')
                                        a.blue(href=`/docker/restart?id=${container.Id}`)
                                            img.srv_drop_StatusImage(src='static/images/restart.svg')
                                            | Restart

                    

            
